.each-passwordcon {
  background-color: transparent;
  border: 1px solid #b6c3ca;
  padding: 10px;
  display: flex;
  width: 230px;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  height: 100px;
  margin: 5px;
}
.initial-leter {
  color: #f8fafc;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: bold;
}
.content-style {
  color: #f8fafc;
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: bold;
  margin: 4px;
}
.stars-img {
  width: 100px;
}
.delete-button {
  outline: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.delete-img {
  width: 30px;
  height: 30px;
}
.initialcontainer {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
  background-color: green;
  justify-content: center;
  align-items: center;
  display: flex;
}
.moody-blue {
  background-color: #7683cb;
}
.buttercup {
  background-color: #f59e0b;
}
.mountain-Meadow {
  background-color: #10b981;
}
.ecstasy {
  background-color: #f97316;
}
.mountain-Meadow-light {
  background-color: #14b8a6;
}
.thunderbird {
  background-color: #b91c1c;
}
.cerulean {
  background-color: #0ea5e9;
}
